@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
        font-family: 'Montserrat', sans-serif;

}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 17px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;

}